* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: rgb(24, 24, 24);
}

body {
  overflow-x: hidden;
}
.webgl {
  /* position: absolute; */
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: exclusion;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  text-align: center;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #ffffff;
  align-self: center;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  align-self: center;
}

#my-gui-container {
  position: absolute;
  top: 735px;
  right: 20px;
  z-index: 10;
}
